---
editUrl: false
next: false
prev: false
title: "ValidationReport"
---

> **ValidationReport** = `object`

## Properties

### contractName

> `readonly` **contractName**: `string`

---

### passed

> `readonly` **passed**: `boolean`

---

### results

> `readonly` **results**: readonly [`ValidationResult`](/api/presentation-preset/src/type-aliases/validationresult/)[]
