---
editUrl: false
next: false
prev: false
title: "ValidationResult"
---

> **ValidationResult** = `object`

## Properties

### message

> `readonly` **message**: `string`

---

### path

> `readonly` **path**: `string`

---

### severity

> `readonly` **severity**: [`ValidationSeverity`](/api/presentation-preset/src/type-aliases/validationseverity/)
